{{#if showError}} {{#each error_msg}}
<div class="alert alert-danger">
    {{this}}
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
</div>
{{/each}} {{/if}} {{#if showSuccess}} {{#each success_msg}}
<div class="alert alert-success">
    {{this}}
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
</div>
{{/each}} {{/if}}
<div class="container rounded border bg-light mt-md-3">
    <h4 class="ml-md-3 mt-md-3">Thông tin cá nhân</h4>
    <hr>
    <div class="row">
        <div class="col-sm-3 text-center">
            <img src={{#if img}} "{{img}}"{{else}}
                "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163f2e6f25c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163f2e6f25c%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4296875%22%20y%3D%22104.5%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"{{/if}} alt="" height="200" width="200" class="rounded">
        </div>
        <div class="col sm-7">
            <h1>{{fullname}}</h1>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <h5>Tên tài khoảng</h5>
                    <h5 class="mt-md-3">Email</h5>
                    <h5 class="mt-md-3">Điện thoại</h5>
                    <h5 class="mt-md-3">Địa chỉ</h5>
                </div>
                <div class="col-sm-6">
                    <h5>{{username}}</h5>
                    <h5 class="mt-md-3">{{email}}</h5>
                    <h5 class="mt-md-3">{{tel}}</h5>
                    <h5 class="mt-md-3">{{address}}</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <button data-toggle="modal" data-target="#modalInfo" class="btn btn-primary border-0 w-100">Chỉnh sửa</button>
            <button data-toggle="modal" data-target="#modalChangPassword" class="btn btn-danger border-0 w-100">Đổi mật khẩu</button>
        </div>
    </div>
    <br>
</div>
<br>

<div class="modal fade" id="modalInfo">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h4 class="modal-title">Chỉnh sửa thông tin</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="/ca-nhan/chinh-sua" method="POST" enctype="multipart/form-data">
                    <h4>{{username}}</h4>
                    <br>
                    <label for="fullname">
                        <b>Họ tên</b>
                    </label>
                    <input type="text" class="form-control" name="fullname" value="{{fullname}}">
                    <br>

                    <label for="img">
                        <b>Ảnh đại diện</b>
                    </label>
                    <input type="file" name="myImage" onchange="readURL(this);" class="form-control">
                    <br>
                    <div class="text-center">
                        <img id="imgUser" src={{#if img}} "{{img}}"{{else}}
                            "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163f2e6f25c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163f2e6f25c%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4296875%22%20y%3D%22104.5%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"{{/if}} alt="" class="rounded" height="200" width="200">
                    </div>
                    <br>

                    <label for="email">
                        <b>Email</b>
                    </label>
                    <input type="text" class="form-control" name="email" value="{{email}}">
                    <br>

                    <label for="tel">
                        <b>Điện thoại</b>
                    </label>
                    <input type="text" class="form-control" name="tel" value="{{tel}}">
                    <br>

                    <label for="address">
                        <b>Địa chỉ</b>
                    </label>
                    <input type="text" class="form-control" name="address" value="{{address}}">
                    <br>

                    <button type="submit" class="btn btn-primary w-100 h-100 text-light rounded">
                        <b>Hoàn Tất</b>
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>
{{!-- change password --}}
<div class="modal fade" id="modalChangPassword">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h4 class="modal-title">Thay đổi mật khẩu</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="/ca-nhan/doi-mat-khau" method="POST">
                    <h4>{{username}}</h4>
                    <label for="username">
                        <b>Mật khẩu cũ</b>
                    </label>
                    <input type="password" class="form-control" placeholder="Nhập tên mật khẩu cũ" name="oldPassword" required>
                    <br>
                    <label for="newPassword">
                        <b>Mật khẩu mới</b>
                    </label>
                    <input type="password" class="form-control" placeholder="Nhập mật khẩu mới" name="newPassword" required>
                    <br>
                    <label for="confirmNewPassword">
                        <b>Xác nhận lại mật khẩu mới</b>
                    </label>
                    <input type="password" class="form-control" placeholder="Xác nhận lại mật khẩu" name="confirmNewPassword" required>
                    <br>
                    <button type="submit" class="btn btn-primary w-100 h-100 text-light rounded">
                        <b>Đăng Nhập</b>
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>