<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
        <div class="navbar-left">
            <a class="navbar-brand text-light">
                <h3>
                    <b>Cửa Hàng Điện Thoại</b>
                </h3>
            </a>
            <form class="form-inline" action="/tim-kiem" method="POST">
                <input class="form-control mr-sm-2" type="search" placeholder="Tên điện thoại, nhà cung cấp" aria-label="Search" name="key">
                <button class="btn btn-outline-light bg-primary text-light my-2 my-sm-0" type="submit">Tìm Kiếm</button>
            </form>
        </div>
        <div class="navbar-right">
            <div class="row float-right">
                <div id="home" class="text-center nav-item">
                    <a href="/" class="nav-link border-0 {{#if homeActive}}table-active{{else}}bg-primary{{/if}}" id="homeLink">
                        <i class="fas fa-home text-light mt-md-2 mr-3 ml-3" style="font-size: 35px;"></i>
                        <br>
                        <span>
                            <b class="text-light">Trang chủ</b>
                            <br/> &nbsp;
                        </span>
                    </a>
                </div>
                <div id="mobile" class="text-center nav-item dropdown">
                    <a class="nav-link border-0 {{#if mobileActive}}table-active{{else}}bg-primary{{/if}}" onchange="chooseActive(this);" id="providerDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-mobile text-light mt-md-2 mr-3 ml-3" style="font-size: 35px;"></i>
                        <br>
                        <span>
                            <b class="text-light">Điện Thoại</b>
                        </span>
                        <br>
                        <i class="fas fa-caret-down text-light" style="font-size: 20px;"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6 border-right">
                                    <h6>NHÀ CUNG CẤP</h6>
                                    {{#each nameProvider}}
                                    <a href="/dien-thoai/{{this.name}}-{{this._id}}" class="dropdown-item">
                                        {{this.name}}
                                    </a>
                                    {{/each}}
                                    <a href="/dien-thoai" class="dropdown-item">
                                        Tất cả sản phẩm
                                    </a>
                                </div>
                                <div class="col-6 border-right">
                                    <h6>MỨC GIÁ</h6>
                                    <a href="/dien-thoai/duoi-1-trieu" class="dropdown-item">
                                        Dưới 1 triệu
                                    </a>
                                    <a href="/dien-thoai/tu-1-3-trieu" class="dropdown-item">
                                        Từ 1 - 3 triệu
                                    </a>
                                    <a href="/dien-thoai/tu-3-6-trieu" class="dropdown-item">
                                        Từ 3 - 6 triệu
                                    </a>
                                    <a href="/dien-thoai/tu-6-10-trieu" class="dropdown-item">
                                        Từ 6 - 10 triệu
                                    </a>
                                    <a href="/dien-thoai/tu-10-15-trieu" class="dropdown-item">
                                        Từ 10 - 15 triệu
                                    </a>
                                    <a href="/dien-thoai/tren-15-trieu" class="dropdown-item">
                                        Trên 15 triệu
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="provider" class="text-center nav-item dropdown">
                    <button class="nav-link border-0 {{#if providerActive}}table-active{{else}}bg-primary{{/if}}" onchange="chooseActive(this);"
                        id="providerDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-parachute-box text-light mt-md-2 mr-md-5 ml-md-5" style="font-size: 35px;"></i>
                        <br>
                        <span>
                            <b class="text-light">Nhà Cung Cấp</b>
                        </span>
                        <br>
                        <i class="fas fa-caret-down text-light" style="font-size: 20px;"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{#each nameProvider}}
                        <li>
                            <a class="dropdown-item" href="/nha-cung-cap/{{this._id}}">
                                {{this.name}}
                            </a>
                        </li>
                        {{/each}}
                    </div>

                </div>
                <div id="contact" class="text-center nav-bar">
                    <a href="/gio-hang" class="nav-link border-0 {{#if cartActive}}table-active{{else}}bg-primary{{/if}}">
                        <i class="fas fa-shopping-cart text-light mt-md-2 mr-3 ml-3" style="font-size: 35px;">
                        </i>
                        <br>
                        <span>
                            <b class="text-light">Giỏ Hàng</b>
                            <br>
                            <span class="btn btn-warning text-bold" style="padding: 1px; padding-right: 6px; padding-left: 6px;"><b>{{amountInCart}}</b></span>
                        </span>
                    </a>
                </div>
                {{#if loginSuccess}}
                <div id="personal" class="text-center nav-bar dropdown">
                    <button class="nav-link border-0 {{#if personalActive}}table-active{{else}}bg-primary{{/if}}" onchange="chooseActive(this);"
                        id="providerDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user text-light mt-md-2 mr-3 ml-3" style="font-size: 35px;"></i>
                        <br>
                        <span>
                            <b class="text-light">Cá Nhân</b>
                        </span>
                        <br>
                        <i class="fas fa-caret-down text-light" style="font-size: 20px;"></i>
                    </button>
                    <ul class="dropdown-menu container" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/ca-nhan">
                                <i class="fas fa-user"></i>
                                Thông tin cá nhân
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/lich-su-mua-hang">
                                <i class="fas fa-shopping-cart"></i>
                                Lịch sử mua hàng
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="/logout">
                                <i class="fas fa-sign-out-alt"></i>
                                Đăng xuất
                            </a>
                        </li>
                    </ul>
                    </li>
                    </ul>
                </div>
                {{else}}
                <div id="contact" class="text-center nav-bar">
                    <button class="nav-link border-0 {{#if signinActive}}table-active{{else}}bg-primary{{/if}}" data-toggle="modal" data-target="#modalLogin">
                        <i class="fas fa-sign-in-alt text-light mt-md-2 mr-3 ml-3" style="font-size: 35px;">
                        </i>
                        <br>
                        <span>
                            <b class="text-light">Đăng Nhập</b>
                            <br/> &nbsp;
                        </span>
                    </button>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</nav>

{{!-- form login --}}
<div class="modal fade" id="modalLogin">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h4 class="modal-title">Đăng Nhập</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="/login" method="GET">
                    <label for="username">
                        <b>Tên đăng nhập</b>
                    </label>
                    <input type="text" class="form-control" placeholder="Nhập tên đăng nhập" name="username">
                    <br>
                    <label for="password">
                        <b>Mật khẩu</b>
                    </label>
                    <input type="password" class="form-control" placeholder="Nhập mật khẩu" name="password">
                    <a href="/quen-mat-khau" class="border-0 float-left">Quên mật khẩu</a>
                    <a href="/register" class="border-0 float-right">Đăng ký</a>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary w-100 h-100 text-light rounded">
                        <b>Đăng Nhập</b>
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>