{{#if errors}} 
    {{#each errors}}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{msg}}
        </div>
    {{/each}} 
{{/if}}
{{#if showError}}
    {{#each error}}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{this}}
        </div>
    {{/each}}
{{/if}}
{{#if showSuccess}}
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{success_msg}}
    </div>
{{/if}}
<form class="modal-content" action="" method="POST" enctype="multipart/form-data">
    <div class="container">
        <h1>Chỉnh Sửa Thông Tin Khách Hàng</h1>
        <hr>
        <label for="myImage">
            <b>Chọn ảnh đại diện</b>
        </label>
        <input class="form-control" name="myImage" type="file" onchange="readURL(this);">
        <br>
        <img id="imgUser" src="{{img}}" alt="User Image" height="200" width="200">
        <br><br>

        <label for="fullname">
            <b>Họ và tên</b>
        </label>
        <input class="form-control" type="text" placeholder="Nhập họ và tên" name="fullname" value="{{fullname}}">
        <br>

        <label for="email">
            <b>Email</b>
        </label>
        <input class="form-control" type="text" placeholder="Nhập địa chỉ Email" name="email" value="{{email}}">
        <br>

        <label for="tel">
            <b>Số điện thoại</b>
        </label>
        <input class="form-control" type="text" placeholder="Nhập số điện thoại" name="tel" value="{{tel}}">
        <br>

        <label for="address">
            <b>Địa chỉ</b>
        </label>
        <input class="form-control" type="text" placeholder="Nhập địa chỉ" name="address" value="{{address}}">
        <br>

        <div class="clearfix">
            <button type="submit" class="signupbtn btn-lg btn-block">Hoàn Tất</button>
        </div>
    </div>
</form>