{{#if errors}} 
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}} 
{{/if}}
{{#if showError}}
    {{#each error}}
        <div class="alert alert-danger">{{this}}</div>
    {{/each}}
{{/if}}
{{#if showSuccess}}
    <div class="alert alert-success">{{success_msg}}</div>
{{/if}}
<form class="modal-content" action="" method="POST" enctype="multipart/form-data">
    <div class="container">
        <h1>Chỉnh Sửa Thông Tin Khách Hàng</h1>
        <hr>
        <label for="myImage">
            <b>Chọn ảnh đại diện</b>
        </label>
        <input name="myImage" type="file" onchange="readURL(this);">
        <img id="imgUser" src="{{img}}" alt="User Image" height="200" width="200">
        <br>

        <label for="fullname">
            <b>Họ và tên</b>
        </label>
        <input type="text" placeholder="Nhập họ và tên" name="fullname" value="{{fullname}}">

        <label for="email">
            <b>Email</b>
        </label>
        <input type="text" placeholder="Nhập địa chỉ Email" name="email" value="{{email}}">

        <label for="tel">
            <b>Số điện thoại</b>
        </label>
        <input type="text" placeholder="Nhập số điện thoại" name="tel" value="{{tel}}">

        <label for="address">
            <b>Địa chỉ</b>
        </label>
        <input type="text" placeholder="Nhập địa chỉ" name="address" value="{{address}}">

        <div class="clearfix">
            <button type="submit" class="signupbtn btn-lg btn-block">Hoàn Tất</button>
        </div>
    </div>
</form>