<div class="container">
    <form id="contact" action="" method="post">
        <h3 style="text-align: center; font-weight: bold;">{{title}}</h3>
        <br><br>
        <fieldset>
            <label for="">Name Model</label>
            <input name="mobileNameTxt" placeholder="Name Model" type="text" tabindex="1" value='{{mobileName}}' required autofocus>
        </fieldset>
        <br>
        <fieldset>
            <label for="">Sale Price</label>
            <input name="salePriceTxt" placeholder="Sale Price" type="text" tabindex="1" value='{{salePrice}}' required autofocus>
        </fieldset>
        <br>
        <fieldset>
            <label for="">Screen</label>
            <input name="screenTxt" placeholder="Screen" type="text" tabindex="1" value='{{screen}}' required autofocus>
        </fieldset>
        <br>
        <fieldset>
            <label for="">Operation System</label>
            <input name="operationsystemTxt" placeholder="Operation System" type="text" tabindex="2" value='{{operationsystem}}' required>
        </fieldset>
        <br>
        <fieldset>
            <label for="">Camera Front</label>
            <input name="camerafontTxt" placeholder="Camera Front" type="text" tabindex="3" value='{{camerafont}}' required>
        </fieldset>
        <br>
        <fieldset>
            <label for="">Camera Behind</label>
            <input name="camerabehindTxt" placeholder="Camera Behind" type="text" tabindex="4" value='{{camerabehind}}' required>
        </fieldset>
        <br>
        <fieldset>
            <label for="">CPU</label>
            <input name="cpuTxt" placeholder="CPU" type="text" tabindex="4" value='{{cpu}}' required>
        </fieldset>
        <br>
        <fieldset>
            <label for="">RAM</label>
            <input name="ramTxt" placeholder="RAM" type="text" tabindex="4" value='{{ram}}' required>
        </fieldset>
        <br>
        <fieldset>
            <label for="">Memories</label>
            <input name="memoriesTxt" placeholder="Memories" type="text" tabindex="4" value='{{memories}}' required>
        </fieldset>
        <br>
        <fieldset>
            <label for="">Memory Card</label>
            <input name="memorycardTxt" placeholder="Memory Card" type="text" tabindex="4" value='{{memorycard}}' required>
        </fieldset>
        <br>
        <fieldset>
            <label for="">SIM</label>
            <input name="simTxt" placeholder="SIM" type="text" tabindex="4" value='{{sim}}' required>
        </fieldset>
        <br>
        <fieldset>            
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
    </form>
</div>