<div class="container">
    <div class="sticky-top">
        <a href="/admin/user/{{url}}/edit" class="h5 text-primary">
            <span><i class="fas fa-edit"></i></span>
            <span>Chỉnh Sửa</span>
        </a>
    </div>
    <div class="row justify-content-md-center text-center">
            <img src={{#if img}}"{{img}}"{{/if}}"data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163f2e6f25c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163f2e6f25c%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4296875%22%20y%3D%22104.5%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                class="rounded" height="200" width="200">
    </div>

    <br>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <ul class="list-group text-primary font-weight-bold">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Tên Đăng Nhập</span>
                    <span>{{username}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Họ và tên</span>
                    <span>{{fullname}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Email</span>
                    <span>{{email}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Tel</span>
                    <span>{{tel}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Địa chỉ</span>
                    <span>{{address}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>