{{#if showError}}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{error_msg}}
    </div>
{{/if}}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 style="text-align: center;">{{name}}</h3>
        <br>
        <div class="text-center">
            <img src={{#if img}}"{{img}}"{{/if}}"data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163f2e6f25c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163f2e6f25c%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4296875%22%20y%3D%22104.5%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" 
            width="200" height="200" class="rounded">
        </div>
    </div>
    <hr>
    <br>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <h5>Giới Thiệu Về Nhà Cung Cấp</h5>
        <hr>
        <p>{{info}}</p>
        <br>
        <h5>Danh Sách Các Sản Phẩm</h5>
        <hr>
        <br>
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>Tên model</th>
                    <th>Tên nhà cung cấp</th>
                    <th>Tình trạng</th>
                    <th>Giá bán</th>
                    <th>Chi tiết sản phẩm</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each tables}}
                <tr>
                    <td>{{this.mobileName}}</td>
                    <td>{{this.provider.name}}</td>
                    <td>{{this.status}} ({{this.sold}}/{{this.imported}})</td>
                    <td>{{this.salePrice}}</td>
                    <td>
                        <a href={{this.url}}>
                            Xem chi tiết
                        </a>
                    </td>
                    <td>
                        <a href={{this.urlEdit}}>
                            <button type="button" class="btn btn-primary">
                                Chỉnh sửa
                            </button>
                        </a>
                        <a href="{{this.urlStatus}}">
                            <button onclick="myFunction" id="chooseStatus" type="button" class="btn btn-danger"  data-toggle="modal" data-target="#myModal">
                                Kick hoat
                            </button>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <!-- /.panel-body -->
</div>