{{#if showError}}
    {{#each error_msg}}
    <div class="alert alert-danger">
        {{this}}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
    {{/each}}
{{/if}}
{{#if showSuccess}}
    {{#each success_msg}}
    <div class="alert alert-success">
        {{this}}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
    {{/each}}
{{/if}}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-10">
                <h3 class="text-center">Danh Sách Nhà Cung Cấp</h3>
            </div>
            <div class="col-sm-2">
                <a href="/admin/provider/newprovider">
                    <button type="button" class="btn btn-primary float-right">
                        Thêm
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>Tên nhà cung cấp</th>
                    <th>Số lượng sản phẩm</th>
                    <th>Thông tin nhà cung cấp</th>
                    <th>Các sản phẩm</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each tables}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.amountOfModel}}</td>
                    <td>
                        <div class="card-block p-1">
                            <p style="width: 150px;" class="card-subtitle text-muted text-truncate">{{this.info}}</p>
                        </div>
                            
                    </td>
                    <td>
                        <a href={{this.url}}>Xem chi tiết</a>
                    </td>
                    <td>
                        <a href={{this.urlEdit}}>
                            <button type="button" class="btn btn-primary">
                                Chỉnh sửa
                            </button>
                        </a>
                        <a href={{this.urlDelete}}>
                            <button type="button" class="btn btn-danger">
                                Xóa
                            </button>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <!-- /.panel-body -->
</div>